name: Build
run-name: Build ${{ inputs.os }}-${{ inputs.arch }}-v${{ inputs.version }}${{ inputs.fips && '+fips' || '' }}

on:
  workflow_call:
    inputs:
      version:
        description: Envoy version to build (don't include leading v)
        type: string
        required: true
      arch:
        description: Architecture to build Envoy for Linux
        type: string
        required: true
      os:
        description: OS to build Envoy for
        type: string
        required: true
      fips:
        description: Build FIPS (only linux amd64)
        required: false
        default: false
        type: boolean
    secrets:
      AWS_ACCOUNT_ID:
        description: AWS account ID for infrastructure
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: Envoy version to build (don't include leading v)
        type: string
        required: true
      arch:
        options:
          - amd64
          - arm64
        description: Architecture to build Envoy for Linux
        type: choice
        required: true
      os:
        options:
          - darwin
          - linux
        description: OS to build Envoy for
        type: choice
        required: true
      fips:
        description: Build FIPS (only linux amd64)
        required: false
        default: false
        type: boolean
permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 180
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # TODO use aws ssm
      - name: Generate SSH key
        run: |
          ssh-keygen -t ed25519 -q -N "" -f ~/.ssh/id_aws
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/envoy-ci
          role-duration-seconds: 10800
          aws-region: us-east-2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: terraform init
        working-directory: terraform
      - name: Find Mac OS dedicated host
        if: inputs.os == 'darwin'
        working-directory: terraform
        run: |
          ./find-or-create-host.sh '${{ inputs.arch }}'
      - name: Set terraform variables
        working-directory: terraform
        run: |
          cat <<EOF >> terraform.tfvars
          public_key_path = "~/.ssh/id_aws.pub"
          arch = "${{ inputs.arch }}"
          os = "${{ inputs.os }}"
          fips = ${{ inputs.fips }}
          envoy_version = "${{ inputs.version }}"
          EOF

          if [[ "${{ inputs.os }}" == linux ]]; then
            echo "SSH_USER=admin" >> $GITHUB_ENV
          else
            echo "SSH_USER=ec2-user" >> $GITHUB_ENV
          fi
      - run: terraform apply -input=false -auto-approve
        working-directory: terraform
        id: terraform-apply
      - id: public-ip
        working-directory: terraform
        # setup-terraform saves stdout of terraform calls to outputs
        run: terraform output --raw public_ip
      - id: instance-id
        working-directory: terraform
        # setup-terraform saves stdout of terraform calls to outputs
        run: terraform output -raw instance_id
      - name: Wait for VM to be ready
        working-directory: terraform
        timeout-minutes: 90
        run: |
          while ! timeout 10 ssh -i ~/.ssh/id_aws -o BatchMode=yes -o StrictHostKeyChecking=accept-new ${{ env.SSH_USER }}@${{ steps.public-ip.outputs.stdout }} 'test -e ready'
          do
            sleep 5
          done
      - name: Build Envoy
        run: |
          ssh -i ~/.ssh/id_aws ${{ env.SSH_USER }}@${{ steps.public-ip.outputs.stdout }} <<'EOF'
            set -e
            minor_version=""
            if [[ "${{ inputs.version }}" =~ ^[0-9]+\.[0-9]+(\.[0-9]+)?$ ]]; then
              # If the version string matches a numeric format (X.Y or X.Y.Z)
              minor_version=$(echo "${{ inputs.version }}" | cut -d'.' -f2)
            fi
            if [[ "${{ inputs.os }}" == "darwin" ]]; then
              export PATH="/opt/homebrew/bin:$PATH"
              if [[ "${{ inputs.version }}" == "main" || ( -n "$minor_version" && "$minor_version" -gt "34" ) ]]; then
                BAZEL_BUILD_EXTRA_OPTIONS="--copt=-mmacos-version-min=13.3 --host_copt=-mmacos-version-min=13.3"
                [[ "${{ inputs.arch }}" == "amd64" ]] && BAZEL_BUILD_EXTRA_OPTIONS+=" --repo_env=BAZEL_LLVM_PATH=/usr/local/Cellar/llvm@18/18.1.8/"
                export BAZEL_BUILD_EXTRA_OPTIONS
              elif [[ -n "$minor_version" && "$minor_version" -lt "35" ]]; then
                export BAZEL_BUILD_EXTRA_OPTIONS="--copt=-mmacos-version-min=12.7 --host_copt=-mmacos-version-min=12.7"
              fi
            fi

            export ENVOY_VERSION="${{ inputs.version }}"
            REPO="${{ github.repository }}"
            git clone "https://github.com/$REPO" && cd "${REPO#${{ github.repository_owner }}/}"
            git checkout ${{ github.sha }}

            if [[ ${{ inputs.fips }} == true ]]; then
              make build/envoy/fips
            else
              make build/envoy
            fi

            mv build ..
          EOF
      - name: Download Envoy binaries
        run: |
            envoy_dir="~/build/artifacts-${{ inputs.os }}-${{ inputs.arch }}/envoy"
            scp -i ~/.ssh/id_aws -o StrictHostKeyChecking=no -r ${{ env.SSH_USER }}@${{ steps.public-ip.outputs.stdout }}:${envoy_dir} .
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: envoy-${{ inputs.os }}-${{ inputs.arch }}-${{ inputs.version }}-${{ inputs.fips }}
          path: envoy/
          if-no-files-found: error
      - run: terraform destroy -input=false -auto-approve
        working-directory: terraform
        if: always() && steps.terraform-apply.outcome != 'skipped'
