name: CI

on:
  workflow_dispatch:

jobs:
  build:
    # virtual environments: https://github.com/actions/virtual-environments
    runs-on: ubuntu-24.04
    env:
      OS: linux
      ARCH: amd64
      ENVOY_DISTRO: linux
      ENVOY_TAG: b16d390f11376e47f479778f2362ea4f48bdc895

    steps:
      # Caches and restores the bazelisk download directory, the bazel build directory.
      - name: Cache bazel
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazelisk
            ~/.cache/bazel
          key: ${{ runner.os }}-${{ env.cache-name }}

      # Checks-out your repository under $GITHUB_WORKSPACE, which is the CWD for
      # the rest of the steps
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: checkout envoy
        run: |
          mkdir -p build/envoy-sources
          cd build/envoy-sources
          git clone -n https://github.com/envoyproxy/envoy.git .
          git checkout $ENVOY_TAG
      - name: build envoy
        env:
          IMAGE_NAME: envoyproxy/envoy-build-ubuntu
        working-directory: build/envoy-sources
        run: |
          ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'
