name: CI

on:
  workflow_dispatch:

jobs:
  build:
    # virtual environments: https://github.com/actions/virtual-environments
    runs-on: ubuntu-24.04
    env:
      OS: linux
      ARCH: amd64
      ENVOY_DISTRO: linux
      ENVOY_TAG: b16d390f11376e47f479778f2362ea4f48bdc895

    steps:
      # Caches and restores the bazelisk download directory, the bazel build directory.
      - name: Cache bazel
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazelisk
            ~/.cache/bazel
          key: ${{ runner.os }}-${{ env.cache-name }}

      # Checks-out your repository under $GITHUB_WORKSPACE, which is the CWD for
      # the rest of the steps
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: checkout envoy
        run: |
          mkdir -p build/envoy-sources
          cd build/envoy-sources
          git clone -n https://github.com/envoyproxy/envoy.git .
          git checkout $ENVOY_TAG
      - name: build envoy
        env:
          IMAGE_NAME: envoyproxy/envoy-build-ubuntu
        working-directory: build/envoy-sources
        run: |
          ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'
