name: Release MacOS hosts

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 10 * * *

permissions:
  id-token: write
  contents: read

jobs:
  release_hosts:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # TODO use aws ssm
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/envoy-ci
          role-duration-seconds: 900
          aws-region: us-east-2
      - name: Release MacOS available hosts
        working-directory: terraform
        run: |
          ./release-hosts.sh
